<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <title>无天无地之所</title>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
    <div class="blog-wrapper">
        <div class="header">
            <div class="slogan">
                <!--<quote>The lunatic, the <ins>lover<del>poet</del></ins> are of imagination all compact.</quote>-->
                <quote>这世间万般风情千种色彩，穷尽我目力所能及，仍不可知此间之一二。</quote>
            </div>
            <br>
            <div class="i-want-post">
                <div class="inner">
                    <a id="id-post-btn" href="" class="hover-shadow hover-color"><span>发</span><span>表</span><span>博</span><span>客</span></a>
                    <!--<a id="id-post-btn" href="" class="hover-shadow hover-color">我要投稿</a>-->
                </div>
            </div>
            <br>
            <h5 class="index-notice">不定期更新，努力当个到处留记号的阿拉斯加</h5>
            <br>
            <h5 class="index-notice">争取有一天能部署在服务器上</h5>
        </div>
        <div class="gua-blogs">
        </div>
    </div>
    <div class="pop-post-window">
        <div class="postbox-close">
            <div class="wrapper">
                <a href="#" class="close-button">
                    <div class="in">
                        <div class="close-button-block"></div>
                        <div class="close-button-block"></div>
                    </div>
                    <div class="out">
                        <div class="close-button-block"></div>
                        <div class="close-button-block"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="blog-new ">
            <div class="postbox-blog-title">
                <label for="">
                    博文标题
                    <input id="id-input-title" type="text" value="">
                </label>
            </div>
            <div class="postbox-blog-author">
                <label for="">
                    博文作者
                    <input id="id-input-author" type="text" value="">
                </label>
            </div>
            <div class="postbox-blog-password ">
                <label for="">
                    主人密码
                    <input id="id-input-mima" type="text"  value="">
                </label>
            </div>
            <div class="postbox-message">
                <label for="">
                    博文内容
                    <textarea id="id-input-content" type="text" value=""></textarea>
                </label>
            </div>
            <div class="submit">
                <button id="id-button-submit">发表新博文</button>
            </div>
        </div>

    </div>

    <script src="js/blog_main.js"></script>
    <script src="js/helper.js"></script>
    </body>
</html>
